01_Polimorfismo
03_Factory
04_Builder
06_Prototype
07_Proxy
08_Adaptador
09_Fachada
10_Puente
11_Compuesto
12_Decorador
13_Observador
14_Cadena
15_Estado
16_Estrategia
17_Memento
18_MetodoPlantilla
19_Iterador